<div>
    <div ng-app="hrApp">
        <div ng-controller="MathController">


    <!--TODO #7-->
    <p>Number a:  <input type="number" ng-model="a"> </p>

    <p>Number b:  <input type="number" ng-model="b"> </p>

    <p>
        <a class="btn btn-primart btn-log" role="button" ng-click="calculate()" >Calculate</a>
        <!--TODO Button for calculating values-->
        
    </p>

    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>
        </div>
    </div>
</div>